
body{
    background-image: url('../public/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .advertisement{
    font-size:xx-small;
    color:red;
  }
  
  /* width*/
  ::-webkit-scrollbar {
    width: 5px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 175, 219); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #002147; 
  }
  
  /* Handle on validation */
  .error-box{
    border: 1px solid red !important;
  }
  
  .success-box{
    border: 1px solid green !important;
  }
  